body{font-family: Arial, Helvetica, sans-serif;margin: 0;}
ul{list-style-type: nome;
margin: 0;padding: 0;overflow: hidden;background-color: #333;}
li{float:left;}
li#sobre{float: right;}
li a{display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: nome;}
li a:hover:not(.active){background-color: rgb(30, 68, 112);}
.active{background-color: rgb(30, 68, 112);}
@media screen and (max-wilth:700px){body{
  margin: auto;
}
ul li,ul li#sobre {
  float: nome;
}
}
div{margin-left: 15px;}
h1.main{ text-align: center;}

/*  imagem*/
img{display: block;margin-left: auto;margin-right: auto;width: 90%;height: auto;}
/*form*/
#limpar,#cadastrar{padding: 8px 13px;margin-top: 10px;margin-right: 4px;background-color: rgb(30, 68, 112);color: white;border: 1px solid rgb(30,68,112);cursor: pointer;}
a{color: rgb(30, 68, 112);}
table{border-collapse: collapse;width: 100%;}
th,td{padding: 8px 0 8px 0;text-align: left;border-bottom: rgb(30, 68, 112);}
tbody tr:hover{background-color: #264392;}